* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/*heading section start*/

.headerbox p {
    font-size: 11px;
    padding: 0;
    margin: 0;
}
section.headersection {
    background: #76b251;
    color: white;
    padding: 7px 0px;
    text-align: center;
}
a {
    text-decoration: none;
}

/*heading section end*/

/*logo area start*/
.logobox img {
    width: 240px;
}
.logobox {
    padding-left: 50px;
}

section.logo {
    padding: 10px 0px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
}

/*logo area end*/

/*form code section start*/
section.formcode {
    background: #f0f0f2;
    padding-bottom: 20px;
}
.headingtittle h1 {
    font-size: 36px;
    color: #28a745;
    font-weight: bold;
}

.headingtittle h2 {
    font-size: 36px;
    font-weight: bold;
    color: #4a4a4a;
}

.headingtittle p {
    font-size: 24px;
    color: #212529;
    font-weight: 500;
}

.headingtittle p span {
    color: #28a745;
}
.headingtittle {
    text-align: center;
    padding-top: 40px;
}
form#omForm {
    padding-top: 15px;
}
/*form code section end*/
/*footer section  start*/

.linkdiv {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.linkdiv a {
    text-decoration: none;
    border-right: 1px solid black;
    padding: 0px 9px;
    font-size: 16px;
    color: #757483;
    font-weight: 400;
    font-family: sans-serif;
}
.linkdiv a:hover {
    color: black;
}
a.lasta {
    border: none;
}
section.footer {
    background: white;
}

.footerlogo {
    text-align: center;
}

.footerlogo img {
    width: 8%;
    padding: 0px 8px;
}
p.firstdescip {
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
p.seconddescip {
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
}
.footernotice {
    text-align: center;
}

.footernotice p {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}

/*footer section end*/
